-- DropIndex
DROP INDEX "Order_customerId_idx";

-- AlterTable
ALTER TABLE "BusinessSettings" ADD COLUMN     "deliveryRadiusEnforced" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "deliverySlabs" JSONB,
ADD COLUMN     "deliverySlots" JSONB;

-- AlterTable
ALTER TABLE "Expense" DROP COLUMN "billDate",
DROP COLUMN "paidDate",
DROP COLUMN "paidTo";

-- AlterTable
ALTER TABLE "Order" DROP COLUMN "customerId",
ADD COLUMN     "deliveryCharge" DOUBLE PRECISION NOT NULL DEFAULT 0,
ADD COLUMN     "deliveryDate" TIMESTAMP(3),
ADD COLUMN     "deliverySlot" TEXT;

-- DropTable
DROP TABLE "Customer";

-- DropTable
DROP TABLE "FuelLog";

-- DropTable
DROP TABLE "MaintenanceLog";

-- DropTable
DROP TABLE "VehiclePhysicalDamage";

-- DropTable
DROP TABLE "VehicleTrip";

-- DropEnum
DROP TYPE "CustomerSegment";

-- DropEnum
DROP TYPE "TripStatus";

-- DropEnum
DROP TYPE "VehicleDamageSeverity";

-- DropEnum
DROP TYPE "VehicleDamageStatus";

